<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="JustMock" version="2015.3.929.5" targetFramework="net462" />
  <package id="JustMock.EntityFramework" version="2015.3.929.5" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.6" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="1.2.1" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="1.2.1" targetFramework="net462" />
  <package id="Shouldly" version="3.0.0" targetFramework="net462" />
</packages>